<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="space-2"></div>
      <div class="space-1 hidden-md-down"></div>

      <h1 class="marg-bot-1">
        Invite some friends to score some goodies!
      </h1>

      <div class="share-buttons">
        <!-- TODO is sharing on messenger possible? -->
        <!-- <a href="fb-messenger://share/?link=http%3A%2F%2Flovesylvie.com" class="btn btn-sm" id="messenger">
          <%= image_tag 'messengerIcon.svg' %>&nbsp; Send
        </a> -->
        <a href="http://www.facebook.com/sharer.php?u=<%=@encoded + '&amp;src=sdkpreparse'%>" target="_blank" class="btn btn-sm" id="facebook">
          <i
            class="fa fa-facebook"
            aria-hidden="true"
          ></i>
          <span class="divider"></span>
          Share
        </a>
        <a href="https://twitter.com/share?text=<%=@text%>&url=<%=@encoded%>" target="_blank" class="btn btn-sm" id="twitter">
          <i
            class="fa fa-twitter"
            aria-hidden="true"
          ></i>
          <span class="divider"></span>
          Tweet
        </a>
        <a href="mailto:?&subject=Try%20Love%2C%20Sylvie&body=Create%20an%20account%20and%20we%20both%20get%20rewarded%3A%20<%=@encoded%>" class="btn btn-sm" id="email">
          <i
            class="fa fa-envelope"
            aria-hidden="true"
          ></i>
          <span class="divider"></span>
          Email
        </a>
      </div>

      <h4>
        Your sharable link
      </h4>
      <p>Send this anywhere across the internet and, when someone signs up with it, your account will be credited.</p>
      <!-- Render the user's unique link -->
      <div class="unique-link white-background marg-bot-2">
        <div class="icons">
          <i
            class="fa fa-copy"
            aria-hidden="true"
            id="unique-link-copy"
            data-toggle="tooltip"
            data-placement="top"
            title="Copy link"
          ></i>
          <!-- <a href="http://www.facebook.com/sharer.php?u=<%=@encoded + '&amp;src=sdkpreparse'%>" target="_blank">
            <i
              class="fa fa-facebook"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              title="Share on Facebook"
            ></i>
          </a>
          <a href="https://twitter.com/share?text=<%=@text%>&url=<%=@encoded%>" target="_blank">
            <i
              class="fa fa-twitter"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              title="Share on Twitter"
            ></i>
          </a> -->
        </div>
        <input
          id="unique-link"
          value="<%= @url %>"
          readonly="readonly"
        />
      </div>

      <!-- <h4>Or share via email</h4> -->

      <div>
        <h4>Your referrals to date</h4>

        <!-- Render text based on if the user has referred anyone yet or not -->
        <% if @user.referrals == 0 %>
          <p class="big">
            It looks like you haven't referred anyone yet. Want some awesome perks? Get a friend to sign up with your unique link:
          </p>
        <% else %>
          <p class="big">
            Ride on, <strong><%= @user.referrals %></strong> of your friends have signed up by your referral. Refer some more to get some awesome perks like free perfume:
          </p>
        <% end %>

        <!-- Visualize the user's referrals -->
        <div class="referrals marg-top-2">
          <div class="progress">
            <%
              width = 25
              referrals = @user.referrals
              if (referrals <= 5)
                width = 100 / 3 * referrals / 5
              elsif (referrals <= 25)
                width = 100 / 3 + 100 / 3 * (referrals - 5) / 20
              elsif (referrals <= 50)
                width = 200 / 3 + 100 / 3 * (referrals - 25) / 25
              else
                width = 100
              end
            %>
            <div
              class="progress-bar"
              role="progressbar"
              style="width: <%= width %>%"
              aria-valuenow="<%= width %>"
              aria-valuemin="0"
              aria-valuemax="100">
            </div>
          </div>
          <div class="markers">
            <div class="<%= @user.referrals >= 0 ? "marker active" : "marker" %>">
              <div class="circle"></div>
              <div class="number">
                0
              </div>
            </div>
            <div class="<%= @user.referrals >= 5 ? "marker active" : "marker" %>">
              <div class="circle"></div>
              <div class="number">
                5
              </div>
            </div>
            <div class="<%= @user.referrals >= 25 ? "marker active" : "marker" %>">
              <div class="circle"></div>
              <div class="number">
                25
              </div>
            </div>
            <div class="<%= @user.referrals >= 50 ? "marker active" : "marker" %>">
              <div class="circle"></div>
              <div class="number">
                50
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="space-4"></div>
    </div>
  </div>
</div>

<script>
  var copy_btn = document.getElementById('unique-link-copy');
  var copy_element = document.getElementById('unique-link');
  if (copy_btn) {
    var copy = function() {
      copy_element.focus();
      copy_element.select();

      try {
        document.execCommand('copy');
      } catch (err) {}
    }

    copy_btn.onclick = function() {copy()};
    copy_element.onclick = function() {copy()};
  }
</script>
