<div class="footer">
  <div class="social purple">
    <ul>
      <li>
        <a href="#" class="hover-transparent">
          <i class="fa fa-snapchat fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="hover-transparent">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="hover-transparent">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="hover-transparent">
          <i class="fa fa-pinterest fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="hover-transparent">
          <i class="fa fa-instagram fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="#" class="hover-transparent">
          <i class="fa fa-youtube fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- sitemap -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row pad-1">
          <div class="space-1"></div>
          <div class="col-6 col-md-4 footer-links">
            <p class="text-muted bold transparent-text">ACCOUNT</p>
            <ul>
              <% if current_user %>
                <li>
                  <%= link_to "My Account", user_path(current_user) %>
                </li>
                <!-- <li>
                  <a href="#">
                    Discovery box
                  </a>
                </li> -->
              <% else %>
                <li>
                  <%= link_to "Login", new_user_session_path %>
                </li>
                <li>
                  <%= link_to "Register", new_user_registration_path %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-6 col-md-4 footer-links">
            <p class="text-muted bold transparent-text">ABOUT US</p>
            <ul>
              <li>
                <a href="/posts">
                  Blog
                </a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-4 footer-links">
            <p class="text-muted bold transparent-text">HELP</p>
            <ul>
              <!-- <li>
                <a href="#">
                  Returns and exchanges
                </a>
              </li> -->
              <!-- <li>
                <a href="#">
                  Start a return
                </a>
              </li> -->
              <li>
                <a href="#">
                  Contact us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- close row -->

        <div class="pad-1 hidden-md-down">
          <div class="space-2 hidden-lg-down"></div>
          <p class="transparent-text gray-text small marg-bot-0">
            <%= link_to 'Terms and Conditions', terms_path %> &nbsp; | &nbsp; Copyright &copy; 2017 Love, Sylvie &nbsp; | &nbsp; All rights reserved
          </p>
        </div>
      </div>
      <!-- close col -->

      <div class="col-12 col-md-4 marg-0 light-gray">
        <div class="space-1"></div>
        <div class="pad-1">
          <p class="text-muted bold">NEWSLETTER</p>
          <p class="gray-text">Stay in touch through our newsletter.</p>
          <form id="footer-form" action="index.html" method="post">
            <input type="text" id="footer_email" class="form-control" placeholder="Email..." />
            <button type="footer-submit" name="button" value="submit">
              <i class="fa fa-chevron-right fa"></i>
            </button>
          </form>
        </div>
        <div class="space-1"></div>
      </div>
      <!-- close col -->
    </div>
    <!-- close row -->
  </div>
  <div class="pad-1 hidden-md-up">
    <p class="transparent-text gray-text small marg-bot-0 center">
      <%= link_to 'Terms and Conditions', terms_path %> &nbsp; | &nbsp; Copyright &copy; 2017 Love, Sylvie &nbsp; | &nbsp; All rights reserved
    </p>
  </div>
</div>
