<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="space-4"></div>
  <div class="space-4"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close-wrapper">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h3 class="title">
            Login
          </h3>
          <div class="field marg-bot-1 marg-top-05">
            <%= f.email_field :email, class: 'form-control login-email', required: true, placeholder: "Email" %>
            <i class="fa fa-fw fa-envelope after" aria-hidden="true"></i>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control login-password', required: true, placeholder: 'Password' %>
            <i class="fa fa-fw fa-unlock after" aria-hidden="true"></i>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-purple full-width' %>
          </div>
        <% end %>

        <div class="links">
          Don't have an account? <%= link_to "Register here.", new_user_registration_path %>
        </div>
      </div>
    </div>
  </div>
</div>
