<div class="container-fluid marg-top-2 marg-bot-2 marg-wide">
  <div class="row">
    <div class="col-12">
      <div class="space-1 hidden-md-down"></div>
      <h2 class="marg-bot-2 accent-text bold center-mobile">
        Meet your perfumes
      </h2>
      <div id="perfumes" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="col-4 push-4 col-md-4 push-md-1 background-image" style="background-image: url(<%= asset_path "perfume.jpg" %>)">
              <div class="space-4"></div>
              <div class="space-4"></div>
              <div class="white-gradient"></div>
            </div>
            <div class="col-12 col-md-6 push-md-1 pad-1">
              <h4 class="accent-text bold">Vivienne</h4>
              <p class="caps">
                Sophisticated &amp; Independent
              </p>
              <p>
                Explorer of people. Independent, sexy, and free-spirited. Vivienne is a natural leader with a friendly demeanor, making her a sure fit with friends from all over the world.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-4 push-4 col-md-4 push-md-1 background-image" style="background-image: url(<%= asset_path "perfume.jpg" %>)">
              <div class="space-4"></div>
              <div class="space-4"></div>
              <div class="white-gradient"></div>
            </div>
            <div class="col-12 col-md-6 push-md-1 pad-1">
              <h4 class="accent-text bold">Alexa</h4>
              <p class="caps">
                Candid &amp; Carefree
              </p>
              <p>
                Alexa is always late to the party, but it's not a party without her! Her bold yet carefree nature may make her the first to point out the spinach in your teeth, but don't let her little jokes bother you. At her core, Alexa is both innocent and fun-loving, with a passion for little adventures. She takes the world in her stride.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-4 push-4 col-md-4 push-md-1 background-image" style="background-image: url(<%= asset_path "perfume.jpg" %>)">
              <div class="space-4"></div>
              <div class="space-4"></div>
              <div class="white-gradient"></div>
            </div>
            <div class="col-12 col-md-6 push-md-1 pad-1">
              <h4 class="accent-text bold">Camila</h4>
              <p class="caps">
                Vivacious &amp; Chic
              </p>
              <p>
                Camila is the vivacious and effortlessly chic girl-on-the-go.  Given her tight regimen, she's able to fit in those morning runs and late-night dinners while maintaining an air of sophistication. Her passion is infectious, and all who meet her are awed by her effortless, put-together style.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-4 push-4 col-md-4 push-md-1 background-image" style="background-image: url(<%= asset_path "perfume.jpg" %>)">
              <div class="space-4"></div>
              <div class="space-4"></div>
              <div class="white-gradient"></div>
            </div>
            <div class="col-12 col-md-6 push-md-1 pad-1">
              <h4 class="accent-text bold">Macie</h4>
              <p class="caps">
                Sweet &amp; Positive
              </p>
              <p>
                Macie's sweet, unassuming nature makes her the perfect friend for seeing the glass half full. She values her relationships and is the first in the group to point out the bigger picture with her infinite wisdom. She's the friend who reminds you that it’s okay to laugh at yourself, and you're grateful for the moments you have together.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-4 push-4 col-md-4 push-md-1 background-image" style="background-image: url(<%= asset_path "perfume.jpg" %>)">
              <div class="space-4"></div>
              <div class="space-4"></div>
              <div class="white-gradient"></div>
            </div>
            <div class="col-12 col-md-6 push-md-1 pad-1">
              <h4 class="accent-text bold">Juniper</h4>
              <p class="caps">
                Peaceful &amp; Creative
              </p>
              <p>
                Juniper may be quiet and calm nature, but don't mistake her for timid. She is wise beyond her years, making her the perfect friend to confide in. Juniper draws her inspiration from the beauty in the environment, giving her unbridled creativity and a deep appreciation for the beauty in everyday life.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-4 push-4 col-md-4 push-md-1 background-image" style="background-image: url(<%= asset_path "perfume.jpg" %>)">
              <div class="space-4"></div>
              <div class="space-4"></div>
              <div class="white-gradient"></div>
            </div>
            <div class="col-12 col-md-6 push-md-1 pad-1">
              <h4 class="accent-text bold">Keira</h4>
              <p class="caps">
                Eloquent &amp; Confident
              </p>
              <p>
                Keira exudes the confidence and eloquence of a queen. She's the first to inspire others to follow their dreams, while never backing down from her own. She's opinionated but charismatic, making her an excellent and natural leader.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-4 push-4 col-md-4 push-md-1 background-image" style="background-image: url(<%= asset_path "perfume.jpg" %>)">
              <div class="space-4"></div>
              <div class="space-4"></div>
              <div class="white-gradient"></div>
            </div>
            <div class="col-12 col-md-6 push-md-1 pad-1">
              <h4 class="accent-text bold">Anya</h4>
              <p class="caps">
                Sure &amp; Sexy
              </p>
              <p>
                Always knowing what she wants, Anya has the self-assurance that most people long for, making her attractive to men and women alike. She maintains an air of confident mystery, not wanting to reveal too much, but those close to her will tell you that she’s capable of persevering through life's most troubled times and emerge smiling.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-4 push-4 col-md-4 push-md-1 background-image" style="background-image: url(<%= asset_path "perfume.jpg" %>)">
                <div class="space-4"></div>
                <div class="space-4"></div>
                <div class="white-gradient"></div>
              </div>
              <div class="col-12 col-md-6 push-md-1 pad-1">
                <h4 class="accent-text bold">Jordan</h4>
                <p class="caps">
                  SPORTY &amp; FEARLESS
                </p>
                <p>
                  From surf to the slopes, Jordan is the first of your friends to hit you up for a wild adventure! Her thirst for adrenaline and passion for competition often reminds you to step outside of your comfort zone and try something new. At her core, Jordan believes that life is one long journey, meant to be lived and enjoyed. She lives fully in the present, striving to make the most out of the day ahead.
                </p>
                <a href="#" class="marg-top-1 btn btn-outline-accent">
                  Learn more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="perfume-list">
    <li class="perfume-item" id="vivienne" value="0">
      Vivienne
    </li>
    <li class="perfume-item active" id="alexa" value="1">
      Alexa
    </li>
    <li class="perfume-item" id="camila" value="2">
      Camila
    </li>
    <li class="perfume-item" id="macie" value="3">
      Macie
    </li>
    <li class="perfume-item" id="juniper" value="4">
      Juniper
    </li>
    <li class="perfume-item" id="keira" value="5">
      Keira
    </li>
    <li class="perfume-item" id="anya" value="6">
      Anya
    </li>
    <li class="perfume-item" id="jordan" value="7">
      Jordan
    </li>
  </ul>
</div>
