<div class="hero background-image parallax" style="background-image: url(<%= asset_path "background.jpg" %>)">
  <div class="hero-wrapper">
    <div class="space-2"></div>
    <div class="space-3 hidden-md-down"></div>
    <div class="container-fluid pad-0">
      <h1 class="bold">
        Perfume is an accessory
      </h1>
      <h4 class="caps transparent-text thin">
        On-demand perfume to match your style
      </h4>

      <!-- <a href="#" class="caps btn btn-outline-white marg-top-2">
        Build your free* discovery kit
      </a> -->
      <div class="space-2 hidden-md-down"></div>
      <div class="space-4"></div>
      <div class="space-4"></div>
      <!-- <p class="caps transparent-text small white-text thin">
        *With subscription purchase, otherwise $4.99 S&amp;H
      </p> -->
      <% if current_user.nil? %>
        <div class="white-transparent-wrapper">
          <h4 class="caps transparent-text thin marg-bot-1">
            Be the first to know
          </h4>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="form-top-wrapper">
                  <form id="form-top">
                    <input id="top-email", placeholder="Email..." />
                    <button class="submit">
                      Step in &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 push-lg-6 col-xl-7 push-xl-5 marg-bot-2">
      <div class="space-2 hidden-xl-up"></div>
      <div class="space-2 hidden-md-down"></div>
      <%= image_tag "vials.jpg", class: "img-fluid" %>
    </div>
    <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 pull-lg-6 col-xl-5 pull-xl-7">
      <div class="space-2"></div>
      <div class="space-2 hidden-md-down"></div>
      <h1 class="marg-bot-2 accent-text bold center-mobile">
        Discover something great
      </h1>
      <div class="step" id="first">
        <div class="vertical-line"></div>
        <div class="step-wrapper">
          <div class="step-circle">
            <p>1</p>
          </div>
          <div class="step-content">
            <h3 class="purple-text">Build your Discovery Box</h3>
            <p>
              Free with the purchase of an initial subscription, or $4.99 S&amp;H otherwise.
            </p>
          </div>
        </div>
      </div>
      <div class="step" id="second">
        <div class="vertical-line"></div>
        <div class="step-wrapper">
          <div class="step-circle">
            <p>2</p>
          </div>
          <div class="step-content">
            <h3 class="purple-text">Enroll in a subscription plan</h3>
            <p>
              After receiving your Discovery Box, pick the scent that is right for you.
            </p>
          </div>
        </div>
      </div>
      <div class="step" id="third">
        <div class="step-circle">
          <p>3</p>
        </div>
        <div class="step-content">
          <h3 class="purple-text">Manage your subscription</h3>
          <p>
            Change your scent, adjust your plan, skip a shipment, or cancel any time.
          </p>
        </div>
      </div>
      <a href="#" class="btn btn-purple full-width marg-bot-05">
        Get started on my Discovery Box
      </a>
      <a href="#" class="btn btn-outline-accent full-width">
        Learn more about plans
      </a>
      <div class="space-2 hidden-md-down"></div>
      <div class="space-2"></div>
    </div>
    <!-- close col -->
  </div>
  <!-- close row -->
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-5 background-image" style="background-image: url(<%= asset_path "box.jpg" %>)">
      <div class="space-4 hidden-md-up"></div>
      <div class="space-4 hidden-md-up"></div>
      <div class="space-4 hidden-md-up"></div>
      <div class="space-4 hidden-md-up"></div>
      <div class="space-4 hidden-md-up"></div>
    </div>
    <div class="col-12 col-md-7 light-purple">
      <div class="space-2"></div>
      <div class="pad-2">
        <h2 class="white-text marg-bot-2 bold center-mobile">
          What is a Discovery Box?
        </h2>
        <ul class="no-decoration white-text">
          <li><i class="fa fa-check marg-right-1" aria-hidden="true"></i>5 personalized samples</li>
          <li><i class="fa fa-check marg-right-1" aria-hidden="true"></i>Delivered to your door within 1 week</li>
          <li><i class="fa fa-check marg-right-1" aria-hidden="true"></i>Free with subscription plan, or $4.99 for S&amp;H.</li>
        </ul>
        <div class="row">
          <div class="col-12 col-lg-10 col-xl-8">
            <a href="#" class="btn btn-outline-white marg-top-1 full-width">
              Get started
            </a>
          </div>
        </div>
      </div>
      <div class="space-2"></div>
    </div>
  </div>
</div>

<%= render 'perfumes/perfumes' %>

<div class="container">
  <ul class="no-decoration list-center social-list">
    <li>
      <a href="#">
        <i class="fa fa-snapchat fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-facebook fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-pinterest fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-youtube fa-2x"></i>
      </a>
    </li>
  </ul>
</div>

<div id="video-wrapper">
  <%= video_tag "video.mp4", autoplay: true, loop: true, id: 'video' %>
  <div class="accent-transparent">
    <div class="space-4"></div>
    <div class="space-4"></div>
    <div class="space-4 hidden-lg-down"></div>
    <div class="space-2 hidden-md-down"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <% if current_user.nil? %>
            <!-- If the current user is not signed in, render a form to enter their email -->
            <h2 class="white-text marg-bot-2 center">
              Receive exclusive offers and updates
            </h2>
            <div class="space-1"></div>
            <div class="form" id="form-bottom-wrapper">
              <form id="form-bottom">
                <input id="bottom-email", placeholder="Email..." />
                <button class="submit">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          <% else %>
            <!-- If the current user is logged in, render their unique link -->
            <h2 class="white-text marg-bot-2 center">
              Share with your friends to earn free perfume
            </h2>
            <div class="unique-link">
              <div class="icons">
                <i
                  class="fa fa-copy"
                  aria-hidden="true"
                  id="unique-link-copy"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Copy link"
                ></i>
                <span class="divider"></span>
                <a href="http://www.facebook.com/sharer.php?u=<%=@encoded + '&amp;src=sdkpreparse'%>" target="_blank">
                  <i
                    class="fa fa-facebook"
                    aria-hidden="true"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Share on Facebook"
                  ></i>
                </a>
                <a href="https://twitter.com/share?text=<%=@text%>&url=<%=@encoded%>" target="_blank">
                  <i
                    class="fa fa-twitter"
                    aria-hidden="true"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Share on Twitter"
                  ></i>
                </a>
              </div>
              <input
                id="unique-link"
                value="<%= @url %>" readonly="readonly"
              />
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="space-2 hidden-md-down"></div>
    <div class="space-4 hidden-lg-down"></div>
    <div class="space-4"></div>
    <div class="space-4"></div>
  </div>
</div>

<script>
  var copy_btn = document.getElementById('unique-link-copy');
  var copy_element = document.getElementById('unique-link');
  if (copy_btn) {
    var copy = function() {
      copy_element.focus();
      copy_element.select();

      try {
        document.execCommand('copy');
      } catch (err) {}
    }

    copy_btn.onclick = function() {copy()};
    copy_element.onclick = function() {copy()};
  }
</script>
