<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h2 class="bold marg-bot-1">
        Listing all perfumes
      </h2>
      <% @perfumes.each do |p| %>
        <div class="row perfume">
          <div class="push-2 col-8 push-md-0 col-md-3 col-lg-2">
            <% if p.image.file? %>
              <%= image_tag p.image.url, class: "img-fluid" %>
            <% end %>
          </div>
          <div class="col-12 col-md-9 col-lg-10">
            <h4 class="bold">
              <%= p.name %>
            </h4>
            <p class="gray-text">
              <%= p.characteristics %>
            </p>
            <p>
              <%= p.body %>
            </p>
            <%= link_to "Edit", edit_perfume_path(p), class: "btn btn-info btn-sm white-text" %>
            <%= link_to "Delete", p, method: :delete, class: "btn btn-danger btn-sm white-text" %>
          </div>
        </div>
      <% end %>
      <%= link_to "Create New", new_perfume_path, class: "btn btn-outline-purple marg-top-1 marg-bot-2" %>
    </div>
  </div>
</div>
