<head>
    <% title 'Love Sylvie | Perfumes' %>
</head>

<div class="container-fluid">
  <div class="row">
    <%= render '/shared/admin-sidebar' %>
    <div class="col-12 col-md-8 col-lg-6">
      <div class="space-1"></div>
      <h2 class="bold marg-bot-1">
        Listing all perfumes
      </h2>
      <p>
        Here, you can manage the perfumes that users see on this site. Note that only administrators have access to this page, and any changes are effective immediately.
      </p>
      <%= link_to "Add New Perfume", new_perfume_path, class: "btn btn-outline-purple marg-bot-1" %>
      <% @perfumes.each do |p| %>
        <div class="row perfume">
          <div class="push-4 col-4 push-md-0 col-md-3 col-lg-2">
            <% if p.image.file? %>
              <%= image_tag p.image.url, class: "img-fluid" %>
            <% end %>
          </div>
          <div class="col-12 col-md-9 col-lg-10">
            <h4 class="bold">
              <%= p.name %>
            </h4>
            <p class="characteristics">
              <%= p.characteristics %>
            </p>
            <p>
              <%= p.body %>
            </p>
            <%= link_to "Edit", edit_perfume_path(p), class: "btn btn-info btn-sm white-text" %>
            <%= link_to "Delete", p, method: :delete, class: "btn btn-danger btn-sm white-text" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
