<%= form_for @post, html: { multipart: true, id: 'post-form' } do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h4>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, placeholder: "Title...", required: true, class: 'form-field form-control', autofocus: true, id: "title" %>

  <label>
    Article image
  </label>
  <%= f.file_field :image, id: "upload-field" %>

  <!-- Render a preview of the uploaded image -->
  <img id="upload" class="img-fluid marg-bot-1" display="none" />

  <%= f.cktext_area :text, class: "no-scroll animate min-30", placeholder: "Write your article here...", required: true, class: 'form-field form-control', id: "body" %>

  <div class="space-2"></div>

  <%= f.submit "Submit Post", class: "btn btn-purple" %>
<% end %>
