<div class="post">
  <%= link_to post do %>
    <% if post.image and post.image.file? %>
      <%= image_tag post.image.url(:large) %>
    <% end %>
    <h2 class="serif">
      <%= post.title %>
    </h2>
    <% if not post.text.nil? %>
      <% if post.text.length > 100 %>
        <p class="serif"><%= post.text[0, 100].html_safe %>...</p>
      <% else %>
        <p class="serif"><%= post.text.html_safe %></p>
      <% end %>
    <% end %>
    <div class="line-1"></div>
  <% end %>
</div>
