<head>
    <% title 'Love Sylvie | ' + @post.title %>
    <% description @post.text[0, 200] %>
</head>

<div class="container marg-top-2">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 post">
          <% if @post.image and @post.image.url and @post.image.file? %>
            <%= image_tag @post.image.url, class: "img-fluid full-width" %>
          <% end %>

          <h2>
            <%= @post.title %>
          </h2>

          <%= @post.text.html_safe %>

          <% if not current_user.nil? and current_user.isAdmin %>
            <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-outline-purple btn-sm marg-top-1" %>
            <%= link_to "Delete post", post_path(@post), method: :delete, data: { confirm: "Permanently delete post. Are you sure? This cannot be undone." }, class: "btn btn-outline-purple btn-sm marg-top-1" %>
          <% end %>
        </div>
    </div>
</div>
