<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Love Sylvie" %></title>

    <!-- default rails security action -->
    <%= csrf_meta_tags %>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Cameron Cabo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <% description = content_for?(:description) ? content_for(:description) : 'Love Sylvie' %>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? content_for(:keywords) : 'love,sylvie,perfume,subscription,online,website,wharton,mba' %>">

    <!-- open graph -->
    <meta property="og:image" content="<%= content_for?(:image) ? content_for(:image) : '' %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : 'Love Sylvie' %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:site_name" content="Love Sylvie">

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:url" content="themetric.org"/>
    <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : 'Love Sylvie' %>"/>
    <meta property="og:description" content="<%= description %>"/>
    <meta property="og:image" content="<%= content_for?(:image) ? content_for(:image) : '' %>"/>

    <!-- title and other tags -->
    <title><%= content_for?(:title) ? content_for(:title) : "Love Sylvie" %></title>

    <!-- font awesome icons -->
    <script src="https://use.fontawesome.com/297cffcc6b.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Khula:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i" rel="stylesheet">

    <!-- bootstrap 4 alpha -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- inject notifications -->
    <% if notice or alert %>
      <div id="alert-container" class="hidden <%= notice ? 'green' : 'red' %>">
        <% if notice %>
          <div class="info" role="alert">
            <p>
              <%= notice %>
            </p>
          </div>
        <% end %>
        <% if alert %>
          <div class="danger" role="alert">
            <p>
              <%= alert %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- navbar -->
    <%= render 'shared/navbar' %>

    <!-- body -->
    <div class="full-page">
      <%= yield %>
    </div>

    <!-- login -->
    <% if current_user.nil? %>
      <%= render 'shared/loginModal' %>
      <%= render 'shared/registerModal' %>
    <% end %>

    <!-- footer -->
    <%= render 'shared/footer' %>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- tether (required for bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- display then hide notifications -->
    <% if notice or alert %>
      <script>
        $(document).ready(function() {
          $('#alert-container').slideDown(200).delay(4000).slideUp(200);
        });
      </script>
    <% end %>

    <!-- turbolink loading -->
    <script type="text/javascript">
      document.addEventListener('turbolinks:load', function(event) {
        if ((typeof ga) === 'function') {
          ga('set', 'location', event.data.url);
          ga('send', 'pageview');
        }
      });
    </script>

    <!-- autofocus on modals -->
    <script>
      $('#login').on('shown.bs.modal', function () {
         $('.login-email').focus();
      });

      $('#register').on('shown.bs.modal', function () {
         $('.register-email').focus();
      });
    </script>

    <script type="text/javascript">
      var $formBottom = $('#form-bottom');
      var $formFooter = $('#footer-form');
      var $formTop = $('#form-top');

      $formTop.submit(function(e) {
        e.preventDefault();
        var email = $('#top-email').val();

        // Email validation
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
          $formFooter.removeClass('hasError');
          $('#register').modal('show');
          $('.register-email').val(email);
          $('.register-password').focus();
        } else {
          $formFooter.addClass('hasError');
        }
      });

      $formFooter.submit(function(e) {
        e.preventDefault();
        var email = $('#footer_email').val();

        // Email validation
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
          $formFooter.removeClass('hasError');
          $('#register').modal('show');
          $('.register-email').val(email);
          $('.register-password').focus();
        } else {
          $formFooter.addClass('hasError');
        }
      });

      $formBottom.submit(function(e) {
        e.preventDefault();
        var email = $('#bottom-email').val();

        // Email validation
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
          $formBottom.removeClass('hasError');
          $('#register').modal('show');
          $('.register-email').val(email);
          $('.register-password').focus();
        } else {
          $formBottom.addClass('hasError');
        }
      });
    </script>

    <script type="text/javascript">
      $('.title-collapse').click(function() {
        if ($(this).hasClass('expanded')) {
          $(this).next('p').slideUp(200);
        } else {
          $(this).next('p').slideDown(200);
        }
        $(this).toggleClass('expanded');
      });
    </script>

    <script type="text/javascript">
      $('#perfumes').carousel({
        interval: false,
      });
      $('#perfumes').carousel(1);
      $('.perfume-item').click(function() {
        $('.perfume-item').removeClass('active');
        $(this).addClass('active');
        var value = $(this).attr('value');
        $('#perfumes').carousel(parseInt(value));
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        var preview = $('#upload');

        $("#upload-field").change(function(event) {
          var input = $(event.currentTarget);
          var file = input[0].files[0];
          var reader = new FileReader();
          reader.onload = function(e){
            image_base64 = e.target.result;
            preview.attr("src", image_base64);
            preview.attr("display", "block");
          };
          reader.readAsDataURL(file);
        });
      });
    </script>

    <!-- autosize -->
    <script src="https://cdn.jsdelivr.net/jquery.autosize/3.0.20/autosize.min.js"></script>

    <!-- initialize autosize on all textarea components -->
    <script type="text/javascript">
      autosize($('textarea'));
    </script>

    <!-- enable tooltips -->
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

    <% if Rails.env.production? %>
      <!-- google analytics -->
      <!-- NOTE that this only runs in production so that we don't collect
           analytics while in development -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117282399-1"></script>

      <!-- Track by user_id if the user is logged in -->
      <% if current_user.present? %>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag('set', {'user_id': <%= current_user.id %>}) {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-117282399-1');
        </script>
      <% else %>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag('set', {'user_id': <%= current_user.id %>}) {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-117282399-1');
        </script>
      <% end %>
    <% end %>
  </body>
</html>
